In [13]:
import pandas as pd

df = pd.read_csv('data.csv')

df.head()

# Convert create_on to Date
import calendar

df['created_on'] = pd.to_datetime(df['created_on'])

del df['description']

del df['title']
del df['price_period']
del df['l6']
del df['l5']
del df['id']
# df = df[df['l2'] == 'Capital Federal']
print("initial len df",len(df))
df = df.loc[df['l2'] == 'Capital Federal']
print("len of caba", len(df))
df = df.loc[df['operation_type'] == 'Venta']
df = df.loc[df['property_type'] == 'Departamento']
print("len of caba venta dto", len(df))


print(df['surface_total'].mean())
print(df['surface_covered'].mean())


# fill surface_total
df['surface_total'].fillna((df['surface_total'].mean()), inplace=True)
# fill surface_covered
df['surface_covered'].fillna((df['surface_covered'].mean()), inplace=True)

# clean bedrooms
df_one_bedroom = df.loc[df['bedrooms'] == 1.0]


#df_caba_venta.to_csv('cleaned_data.csv', index=False)
df.head()

initial len df 1000000
len of caba 255028
len of caba venta dto 126268
105.62022282754832
85.3710296077409

,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,l4,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,property_type,operation_type
43,Propiedad,2020-12-26,9999-12-31,2020-12-26,-34.643163,-58.494823,Argentina,Capital Federal,Villa Luro,NaN,2.0,NaN,1.0,105.620223,85.37103,100000.0,USD,Departamento,Venta
68,Propiedad,2020-12-26,9999-12-31,2020-12-26,-34.579185,-58.434970,Argentina,Capital Federal,Palermo,Palermo Hollywood,NaN,NaN,1.0,33.000000,29.00000,105000.0,USD,Departamento,Venta
69,Propiedad,2020-12-26,2021-02-11,2020-12-26,-34.556279,-58.462507,Argentina,Capital Federal,Belgrano,NaN,1.0,NaN,1.0,40.000000,85.37103,110000.0,USD,Departamento,Venta
72,Propiedad,2020-12-26,2020-12-29,2020-12-26,-34.592565,-58.445352,Argentina,Capital Federal,Villa Crespo,NaN,1.0,NaN,1.0,27.000000,25.00000,84900.0,USD,Departamento,Venta
75,Propiedad,2020-12-26,2021-04-10,2020-12-26,-34.606791,-58.469843,Argentina,Capital Federal,Villa General Mitre,NaN,NaN,NaN,1.0,27.000000,24.00000,68000.0,USD,Departamento,Venta

In [10]:
df['bedrooms'].unique()

array([ nan,   0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,  32.,   8.,
        77.,   9.,  36.,  70.,  10., 153.,  22.,  12.,  11.,  21.,  20.,
        -1.,  13.,  14.,  16.])

In [12]:
df['bedrooms'].isnull().values.ravel().sum()

21716

In [21]:
df_zero_bedroom = df.loc[df['bedrooms'] == 0.0]
df_zero_bedroom['surface_covered'].mean()

85.37102960774088

In [22]:
df_one_bedroom = df.loc[df['bedrooms'] == 1.0]
df_one_bedroom['surface_covered'].mean()

62.80081627426867

In [23]:
df_two_bedroom = df.loc[df['bedrooms'] == 2.0]
df_two_bedroom['surface_covered'].mean()

91.35325069851427